@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-onest: var(--font-onest);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-grey-900: var(--grey-900);
  --color-grey-800: var(--grey-800);
  --color-grey-300: var(--grey-300);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);

  --color-white-5: var(--white-5);
  --color-white-15: var(--white-15);
  --color-white-25: var(--white-25);
  --color-white-60: var(--white-60);
  --color-white-80: var(--white-80);
  --color-white-90: var(--white-90);

  --color-black-5: var(--black-5);
  --color-black-15: var(--black-15);
  --color-black-25: var(--black-25);
  --color-black-30: var(--black-30);
  --color-black-60: var(--black-60);
  --color-black-80: var(--black-80);
  --color-black-90: var(--black-90);

  --color-primary-5: var(--primary-5);
  --color-primary-10: var(--primary-10);
  --color-primary-15: var(--primary-15);
  --color-primary-25: var(--primary-25);
  --color-primary-60: var(--primary-60);
  --color-primary-80: var(--primary-80);
  --color-primary-90: var(--primary-90);

  --color-success: var(--success);
  --color-danger: var(--danger);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000000;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #6e54ff;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --grey-900: #151515;
  --grey-800: #222222;
  --grey-300: #979797;
  --grey-200: #d5d5d5;
  --grey-100: #f5f5f5;

  --white-5: #ffffff;
  --white-15: #ffffff;
  --white-25: #ffffff40;
  --white-60: #ffffff;
  --white-80: #ffffff;
  --white-90: #ffffff;

  --black-5: #0000000d;
  --black-15: #00000026;
  --black-25: #00000040;
  --black-30: #0000004d;
  --black-60: #00000099;
  --black-80: #000000;
  --black-90: #000000;

  --primary-5: #6e54ff0d;
  --primary-10: #6E54FF1A;
  --primary-15: #6e54ff26;
  --primary-25: #6e54ff;
  --primary-60: #6e54ff;
  --primary-80: #6e54ff;
  --primary-90: #6E54FFE5;

  --success:#227A0A;
  --danger: #c62d20;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sec-btn-shadow {
  /* box-shadow: 0 4px 4px -3px var(--colors-grey-800, #222),
    0 4px 4px -3px var(--colors-transparents-black-black-25, rgba(0, 0, 0, 0.25)),
    0 0 10px -8px var(--colors-Black, #000); */
  box-shadow: 0 4px 4px -3px var(--black-60, #000000);
}
.sec-btn-shadow:hover {
   transition:all 0.3s ease;
  transform: translateY(1px);
  box-shadow:
    0 6px 6px -3px var(--colors-grey-800, #222),
    0 6px 6px -3px rgba(0,0,0,0.25),
    0 0 14px -6px var(--colors-Black, #000);
}

.primary-btn-shadow {
  box-shadow: 0 4px 4px -3px #6e54ff, 0 4px 4px -3px rgba(0, 0, 0, 0.25),
    0 0 16px -8px #000;
}
.primary-btn-shadow:hover {
  transition:all 0.3s ease;
  transform: translateY(1px);
  box-shadow: 0 6px 6px -3px #6e54ff, 0 6px 6px -3px rgba(0, 0, 0, 0.25),
    0 0 20px -8px #000;
}

.unselected-shadow {
  /* Inner Box/unselected */
  box-shadow: 0px 0px 11px -3px var(--black-60);
  box-shadow: 0px 0px 0px 1px var(--black-25);
  /* box-shadow: 0px 0px 1px 1px var(--black-25); */
}

.selected-shadow {
  /* Inner Box/Selected */
  box-shadow: 0 0 0 1px var(--colors-Black, #000),
    0 0 5px -1px var(--colors-transparents-black-black-25, rgba(0, 0, 0, 0.25));
}

.winner-shadow {
  box-shadow: 0 0 0 1px #6e54ff, 0 0 5px -1px rgba(255, 255, 255, 0.25);
}

.unselected-shadow:hover {
  box-shadow: unset;
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
  border-color: #0000000d;
}

.stats-shadow {
  box-shadow: 0px 0px 5px -1px var(--black-25);
}
.input-shadow {
  /* box-shadow: 0px 0px 14px -8px var(--colorstransparentsBlackBlack60); */
  box-shadow: 0px 0px 0px 1px var(--black-25);
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
